:root{
    /*--primary: #111B54;
    --light: #ffffff;
    --gray: #efefef;*/
    overflow-y: auto;
    overflow-x: auto;
}

.color_header{
    background-color: lightskyblue;
}

header{
    background-color: lightskyblue;
}


body{
    overflow: hidden;
    font-family: 'Mulish' sans-serif;
    font-weight: 400;
    /*color: var(--primary);*/
}

a:hover{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
} 

#sidebar-container .menu{
    width: 18rem,
}

.center{
    text-align: center;
    align-items: center;
}

.formulario{
text-align: center;
}

.form-control{
    text-align: center;
    width: 500px;
    margin-left: 380px;
}

/*.collection-item{
    font-weight: 300;
    color: black;
    outline-style: auto;
}*/