* {
    margin: 0;
    padding: 0;
    ;
    /*overflow-y:auto;
    overflow-x: auto;*/
}


/*:root {
    /*--primary: #111B54;
    --light: #ffffff;
    --gray: #efefef;
    overflow-y: auto;
    overflow-x: auto;
}*/


/*PC*/
.menu-bar .navbar {
    background-image: linear-gradient(-90deg, rgb(230, 230, 104), rgb(55, 194, 97));
}

/*Elementos del header en DESKTOP*/
.nav-link {
    font-size: 14px;
    margin: 3px;
    color: silver;
    font-weight: 400;
}

.nav-link:hover {
    font-size: 18px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid seagreen;
}

.logo_header {
    max-width: 90px;
    margin-top: 1px;
}

.logo_header:hover {
    max-width: 110px;
    margin-top: 1px;
}

.color_header {
    background-image: linear-gradient(-90deg, rgb(230, 230, 104), rgb(55, 194, 97));
}

header {
    background-color: lightskyblue;
}

.dropdown-menu {
    background-image: linear-gradient(-90deg, rgb(230, 230, 104), rgb(55, 194, 97));
}

@media only screen and (max-width:1000px) {
    .nav-link:hover {
        border-bottom: none !important;
    }
}

.div-video,
.div1 {
    padding: 50px;
}

.form {
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}

.formulario {
    background-color: cornflowerblue;
    max-width: 40vw;
    justify-content: center;
    position: relative;
    left: 30%;
    padding: 20px;
}

body {
    font-family: 'Mulish' sans-serif;
    background-color: lightskyblue;
    justify-content: center;
}

.imagen_index {
    text-align: center;
}

a:hover {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem,
}

.center {
    text-align: center;
    align-items: center;
}

.formulario {
    text-align: center;
}

.form-control {
    text-align: center;
    width: 500px;
    margin-left: 380px;
}

/*.collection-item{
    font-weight: 300;
    color: black;
    outline-style: auto;
}*/

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 8px 12px;
    color: black;
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.btn-neon:hover {
    background-color: #a945c7;
    box-shadow: 0 0 10px #a945c7 0 0 40px #a945c7 0 0 80px #a945c7;
    transition-delay: 1s;
    color: black;
}

.btn-neon span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 0.25s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}

.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}

.btn-neon:hover #span2 {
    top: 100%;
    transition: 0.25s;
    transition-delay: 0.125s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}

.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 0.25s;
    transition-delay: 0.125s;
}

/*Contacto DESKTOP*/

#titulo {
    font-size: 40px;
}

.div-contact {
    padding: 50px;
}

.circleL {
    padding: 50px;
    margin-right: 80px;
    width: 10px;
    height: 10px;
    background: cornflowerblue;
    border-radius: 60%;

    animation-name: cambiarColorL;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes cambiarColorL {
    0% {
        background-color: coral;
        transform: translateY(-150px) scale(0.4);
    }

    10% {
        background-color: violet;
        transform: translateY(-80px) scale(0.6);
    }

    20% {
        background-color: greenyellow;
        transform: translateY(-10px) scale(0.8);
    }

    30% {
        background-color: cornflowerblue;
        transform: translateY(60px) scale(1);
    }

    40% {
        background-color: lavender;
        transform: translateY(120px) scale(1.2);
    }

    50% {
        background-color: tomato;
        transform: translateY(160px) scale(1.4);
    }

    60% {
        background-color: hotpink;
        transform: translateY(100px) scale(1.2);
    }

    70% {
        background-color: lightgreen;
        transform: translateY(40px) scale(1);
    }

    80% {
        background-color: lightgoldenrodyellow;
        transform: translateY(-20px) scale(0.8);
    }

    90% {
        background-color: royalblue;
        transform: translateY(-80px) scale(0.6);
    }

    100% {
        background-color: chartreuse;
        transform: translateY(-140px) scale(0.4);
    }
}

.circleR {
    padding: 50px;
    margin-left: 80px;
    width: 10px;
    height: 10px;
    background: cornflowerblue;
    border-radius: 60%;

    animation-name: cambiarColorR;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes cambiarColorR {
    0% {
        background-color: coral;
        transform: translateY(-150px) scale(0.4);
    }

    10% {
        background-color: violet;
        transform: translateY(-80px) scale(0.6);
    }

    20% {
        background-color: greenyellow;
        transform: translateY(-10px) scale(0.8);
    }

    30% {
        background-color: cornflowerblue;
        transform: translateY(60px) scale(1);
    }

    40% {
        background-color: lavender;
        transform: translateY(120px) scale(1.2);
    }

    50% {
        background-color: tomato;
        transform: translateY(160px) scale(1.4);
    }

    60% {
        background-color: hotpink;
        transform: translateY(100px) scale(1.2);
    }

    70% {
        background-color: lightgreen;
        transform: translateY(40px) scale(1);
    }

    80% {
        background-color: lightgoldenrodyellow;
        transform: translateY(-20px) scale(0.8);
    }

    90% {
        background-color: royalblue;
        transform: translateY(-80px) scale(0.6);
    }

    100% {
        background-color: chartreuse;
        transform: translateY(-140px) scale(0.4);
    }
}

/*Elementos del footer en DESKTOP*/
.col-footer {
    font-size: 15px;
}

.imagen_footer {
    max-width: 120px;
}

/*TABLET*/
@media (min-width: 577px) and (max-width: 768px) {

    #titulo {
        font-size: 30px;
    }

    .col-footer {
        font-size: 13px;
    }

    .circleR {
        padding: 30px;
        margin-left: 80px;
        width: 10px;
        height: 10px;
    }

    .circleL {
        padding: 30px;
        margin-right: 80px;
        width: 10px;
        height: 10px;
    }
}

/*CELPHONE*/
@media (max-width: 576px) {

    #titulo {
        font-size: 25px;
    }

    .col-footer {
        font-size: 11px;
    }

    iframe {
        max-width: 150px;
        max-height: 100px;
    }

    .circleR {
        padding: 10px;
        margin-left: 260px;
        width: 30px;
        height: 30px;
        animation-name: cambiarColorR;
    }

    .circleL {
        padding: 10px;
        margin-right: 260px;
        width: 30px;
        height: 30px;
        animation-name: cambiarColorL;
    }

    @keyframes cambiarColorL {
        0% {
            background-color: coral;
            transform: translateY(18px) scale(0.4);
        }

        10% {
            background-color: violet;
            transform: translateY(58px) scale(0.6);
        }

        20% {
            background-color: greenyellow;
            transform: translateY(98px) scale(0.8);
        }

        30% {
            background-color: cornflowerblue;
            transform: translateY(138px) scale(1);
        }

        40% {
            background-color: lavender;
            transform: translateY(178px) scale(1.2);
        }

        50% {
            background-color: tomato;
            transform: translateY(218px) scale(1.4);
        }

        60% {
            background-color: hotpink;
            transform: translateY(178px) scale(1.2);
        }

        70% {
            background-color: lightgreen;
            transform: translateY(138px) scale(1);
        }

        80% {
            background-color: lightgoldenrodyellow;
            transform: translateY(98px) scale(0.8);
        }

        90% {
            background-color: royalblue;
            transform: translateY(58px) scale(0.6);
        }

        100% {
            background-color: chartreuse;
            transform: translateY(18px) scale(0.4);
        }
    }

    @keyframes cambiarColorR {
        0% {
            background-color: coral;
            transform: translateY(-200px) scale(0.4);
        }

        10% {
            background-color: violet;
            transform: translateY(-160px) scale(0.6);
        }

        20% {
            background-color: greenyellow;
            transform: translateY(-120px) scale(0.8);
        }

        30% {
            background-color: cornflowerblue;
            transform: translateY(-80px) scale(1);
        }

        40% {
            background-color: lavender;
            transform: translateY(-40px) scale(1.2);
        }

        50% {
            background-color: tomato;
            transform: translateY(00px) scale(1.4);
        }

        60% {
            background-color: hotpink;
            transform: translateY(-40px) scale(1.2);
        }

        70% {
            background-color: lightgreen;
            transform: translateY(-80px) scale(1);
        }

        80% {
            background-color: lightgoldenrodyellow;
            transform: translateY(-120px) scale(0.8);
        }

        90% {
            background-color: royalblue;
            transform: translateY(-160px) scale(0.6);
        }

        100% {
            background-color: chartreuse;
            transform: translateY(-200px) scale(0.4);
        }
    }

}