* {
    margin: 0;
    padding: 0;
    ;
    /*overflow-y:auto;
    overflow-x: auto;*/
}


/*:root {
    /*--primary: #111B54;
    --light: #ffffff;
    --gray: #efefef;
    overflow-y: auto;
    overflow-x: auto;
}*/


/*PC*/
.menu-bar .navbar {
    background-image: linear-gradient(-90deg, rgb(230, 230, 104), rgb(55, 194, 97));
}

/*Elementos del header en DESKTOP*/
.nav-link {
    font-size: 14px;
    margin: 3px;
    color: silver;
    font-weight: 400;
}

.nav-link:hover {
    font-size: 18px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid seagreen;
}

.logo_header {
    max-width: 90px;
    margin-top: 1px;
}

.logo_header:hover {
    max-width: 110px;
    margin-top: 1px;
}

.color_header {
    background-image: linear-gradient(-90deg, rgb(230, 230, 104), rgb(55, 194, 97));
}

header {
    background-color: lightskyblue;
}

.dropdown-menu {
    background-image: linear-gradient(-90deg, rgb(230, 230, 104), rgb(55, 194, 97));
}

@media only screen and (max-width:1000px) {
    .nav-link:hover {
        border-bottom: none !important;
    }
}

.form {
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}

.formulario {
    background-color: cornflowerblue;
    max-width: 40vw;
    justify-content: center;
    position: relative;
    left: 30%;
    padding: 20px;
}

body {
    font-family: 'Mulish' sans-serif;
    background-color: lightskyblue;
    justify-content: center;
}

.imagen_index {
    text-align: center;
}

a:hover {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem,
}

.center {
    text-align: center;
    align-items: center;
}

.formulario {
    text-align: center;
}

.form-control {
    text-align: center;
    width: 500px;
    margin-left: 380px;
}

/*.collection-item{
    font-weight: 300;
    color: black;
    outline-style: auto;
}*/

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 8px 12px;
    color: black;
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.btn-neon:hover {
    background-color: #a945c7;
    box-shadow: 0 0 10px #a945c7 0 0 40px #a945c7 0 0 80px #a945c7;
    transition-delay: 1s;
    color: black;
}

.btn-neon span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 0.25s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}

.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}

.btn-neon:hover #span2 {
    top: 100%;
    transition: 0.25s;
    transition-delay: 0.125s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}

.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 0.25s;
    transition-delay: 0.125s;
}

/*Elementos del footer en DESKTOP*/
.col-footer {
    font-size: 16px;
}

.imagen_footer {
    max-width: 90px;
}

/*TABLET*/
@media (min-width: 577px) and (max-width: 768px) {
    .col-footer {
        font-size: 14px;
    }
}


/*CELPHONE*/
@media (max-width: 576px) {
    .col-footer {
        font-size: 12px;
    }
}